* {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0px;
}

.wrapper {
  width: 1200px;
}

.background {
  margin: 0px;
  padding: 1px;
  display: flex;
  justify-content: center;
}

#header-background {
  height: 500px;
  background-color: #1f2937;
}

#section1-background {
  height: 500px;
}

#section2-background {
  height: 400px;
  background-color: #e5e7eb;
}

#section3-background {
  height: 300px;
}

#footer-background {
  height: 100px;
  background-color: #1f2937;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

#header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.topbar-element {
  margin-top: 20px;
}

#hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 0px;
}

#hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  width: 400px;
}

#sign-up-button {
  border: #3882f6;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 900;
  padding: 8px 34px;
  border-radius: 12px;
  font-size: 16px;
}

#hero {
  margin-top: 40px;
}

#hero-img {
  width: 400px;
  border-radius: 14px;
}

.left-aligned {
  display: inline-block;
}

.right-aligned {
  float: right;
}

#section1 {
  text-align: center;
  padding: 20px;
}

#steps-parent-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}

#steps-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.step-img {
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 28px;
}

.step-subtext {
  color: #1f2937;
  font-size: 18px;
  margin-top: 8px;
}

.step-box {
  width: 200px;
  padding: 0px;
}

#quote {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 100;
}

#quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: 900;
  color: #1f2937;
}

#quote-box {
  width: 800px;
  padding: 40px;
  text-align: center;
  margin: auto;
}

#section2-wrapper {
  margin: auto;
}

#section3-wrapper {
  margin: auto;
  text-align: center;
}

#call-to-action-box {
  background-color: #3882f6;
  border-radius: 12px;
  width: 900px;
  height: 100px;
  color: #f9faf8;
  padding: 20px 100px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#call-to-action-textbox {
  text-align: left;
  width: 500px;
}

#call-to-action-header {
  margin-bottom: 0px;
  font-size: 28px;
}

#call-to-action-body {
  margin-top: 0px;
}

#call-to-action-button {
  margin-left: 100px;
  border: #f9faf8;
  border-style: solid;
  border-width: 2px;
}

#button-box {
  margin: auto;
}

#copyright-box {
  text-align: center;
}

#copyright {
  margin-top: 40px;
  font-size: 18px;
  color: #e5e7eb;
}
